__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

venv/
.venv/
env/

.vscode/
.idea/
*.swp

.ipynb_checkpoints/

*.tif
*.tiff
*.SAFE/
*.jp2

.DS_Store
Thumbs.db

!models/*.tflite
!models/*.joblib
!figures/*.png
!examples/*.png
!examples/*.tif
!examples/*.tiff
